* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-size: 1rem;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

nav  {
    display: flex;
    justify-content: flex-end;
}

.container {
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.507);
    background-image: url(./passport.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: multiply;
    background-position: 5rem;
    display: flex;
    flex-direction: column;
}

.nav-bar{
    position: fixed;
    background-color: black;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-family: 'Roboto', sans-serif;
}

.nav-bar > li{
    list-style-type: none;
    padding: 1rem 0;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    line-height: 2rem;
}

.introduction {
    width: 50%;
    padding-top: 1.5rem;
}
.role {
    width: 50%;
}

.greet {
    font-size: 1rem;
}

.name {
    font-size: 1.5rem;
}

.job {
    background-color: yellow;
    font-size: 1rem;
    color: black;
}

.role p, .socials p {
    font-size: 1rem;
    padding-right: 1.5em;
}

i.fa {
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    font-size: 1.5rem;
    color: yellow;
}

.skills {
    text-align: center;
    padding: 1.5rem 0 0 0;
}

.skill-cards {
    padding-top: 0.7rem;
    display: flex;
    justify-content: space-around;
}

.html, .css, .javascript {
    width: 25%;
    background-color: yellow;
    color: black;
    border-radius: 1rem;
    padding: 1rem;
}

.my-contacts {
    margin-bottom: 2rem;
}

.my-contacts h2 {
    padding: 1.5rem 0 0 0;
    text-align: center;
}

.reach-out {
    padding: 1rem 0;
    text-align: center;
}

.contacts {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.my-form, .socials {
    width: 45%;
}

form {
    background-color: yellow;
    color: black;
    border-radius: 0.8rem;
    padding: 1rem;
    text-align: center;
}

.form-content {
    margin: 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

.form-content input {
    width: 70%;
    height: 2rem;
    background-color: black;
    color: white;
}

.form-content label {
    font-size: 1.2rem;
}

.form-content .textarea {
    height: 7rem;
}

.button input {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.section2 {
    display: flex;
    align-self: flex-end;
    background-color: yellow;
    border-top-left-radius: 0.5rem;
    border-top: 2px solid yellow;
}

.socials {
    margin-top: 1rem;
}

.hire-me {
    color: black;
    font-size: 1.1rem;
    padding: 0.7rem 1.7rem;
}

.contact-me {
    background-color: black;
    font-size: 1.1rem;
    padding: 0.7rem 1.7rem;
    border-bottom-right-radius: 0.9rem;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 480px) {
    .nav-bar {
        width: 100%;
    }

    .introduction, .role {
        width: 90%;
    }
    
    .greet {
        margin-top: 4rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .job {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .name {
        font-size: 1.5rem;
    }
    
    .role p, .socials p {
        font-size: 1rem;
    }

    .socials, .role {
        margin: 1rem 0 1rem 1rem;
    }

    .skill-cards {
        flex-direction: column;
    }
    
    .html, .css, .javascript {
        width: 80%;
        margin: 1rem auto;
    }

    .reach-out {
        padding: 1rem 1rem;
    }
    
    .contacts {
        display: flex;
        flex-direction: column;
    }
    
    .my-form, .socials {
        width: 100%;
    }
    
    .form-content {
        margin: 1rem 0;
    }
    
    .form-content input {
        width: 67%;
    }
    
    
    .button input {
        font-size: 1rem;
    }
    
    i.fa {
        padding-top: 0.6rem;
        padding-right: 0.6rem;
        font-size: 1rem;
    }
    
    .hire-me {
        font-size: 1rem;
        padding: 0.5rem 1.3rem;
    }
    
    .contact-me {
        font-size: 1rem;
        padding: 0.5rem 1.3rem;
        border-bottom-right-radius: 0.9rem;
    }
}

@media only screen and (max-width: 600px) {
    .nav-bar {
        width: 100%;
    }

    .introduction, .role {
        width: 90%;
    }
    
    .greet {
        margin-top: 4rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .job {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .name {
        font-size: 1.5rem;
    }
    
    .role p, .socials p {
        font-size: 1rem;
    }

    .socials, .role {
        margin: 1rem 0 1rem 1rem;
    }

    .skill-cards {
        flex-direction: column;
    }
    
    .html, .css, .javascript {
        width: 70%;
        margin: 1rem auto;
    }

    .reach-out {
        padding: 1rem 1rem;
    }
    
    .contacts {
        display: flex;
        flex-direction: column;
    }
    
    .my-form, .socials {
        width: 100%;
    }
    
    .form-content {
        margin: 1rem 0;
    }
    
    .form-content input {
        width: 67%;
    }
    
    
    .button input {
        font-size: 1rem;
    }
    
    i.fa {
        padding-top: 0.6rem;
        padding-right: 0.6rem;
        font-size: 1rem;
    }
    
    .hire-me {
        font-size: 1rem;
        padding: 0.5rem 1.3rem;
    }
    
    .contact-me {
        font-size: 1rem;
        padding: 0.5rem 1.3rem;
        border-bottom-right-radius: 0.9rem;
    }
}

/* Medium devices (landscape tablets, 768px and below) */
@media only screen and (max-width: 768px) {
    .reach-out {
        padding: 1rem 1rem;
    }
    
    /* .my-form {
        width: 55%;
    }
    .socials {
        width: 35%;
    } */
    
    .form-content {
        margin: 1rem 0;
    }
    
    .form-content input {
        width: 68%;
    }
    
    i.fa {
        padding-top: 0.6rem;
        padding-right: 0.6rem;
        font-size: 1rem;
    }
    
    .hire-me {
        font-size: 1rem;
        padding: 0.5rem 1.3rem;
    }
    
    .contact-me {
        font-size: 1rem;
        padding: 0.5rem 1.3rem;
        border-bottom-right-radius: 0.9rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}